pkgbase = zh-fonts
	pkgdesc = A collection of Chinese (traditional) fonts
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/ButTaiwan
	arch = any
	license = OFL
	noextract = genyo-1.0.5.zip
	noextract = genwan-1.0.5.zip
	noextract = genseki-1.0.6.zip
	noextract = gensen-1.0.5.zip
	noextract = genyog-1.0.6.zip
	source = genyo-1.0.5.zip::https://github.com/ButTaiwan/genyo-font/releases/download/v2.100/GenKiMin2-ttc.zip
	source = genwan-1.0.5.zip::https://github.com/ButTaiwan/genwan-font/releases/download/v2.100/GenWanMin2-ttc.zip
	source = genseki-1.0.6.zip::https://github.com/ButTaiwan/genseki-font/releases/download/v/GenSekiGothic2-ttc.zip
	source = gensen-1.0.5.zip::https://github.com/ButTaiwan/gensen-font/releases/download/v2.100/GenSenRounded2-ttc.zip
	source = genyog-1.0.6.zip::https://github.com/ButTaiwan/genyog-font/releases/download/v/GenKiGothic2-ttc.zip
	sha256sums = 81e5ee84351102b4143bfaa2ada0f60dcd82c366c7affda293d975a63fc5742a
	sha256sums = b2e987aa451057776fbf914b05a3646433c3b81f5dad01b622fa1c0b84dfdddd
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	sha256sums = 01f57ff5eac25143c654cfd37ab06d191703fb67aea94811ec48f101a2f6e203
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5

pkgname = zh-fonts
