pkgbase = zh-fonts
	pkgdesc = A collection of Chinese (traditional) fonts
	pkgver = 1.0.9
	pkgrel = 1
	url = https://github.com/ButTaiwan
	arch = any
	license = OFL
	noextract = genyo-1.0.9.zip
	noextract = genwan-1.0.9.zip
	noextract = genseki-1.0.9.zip
	noextract = gensen-1.0.9.zip
	noextract = genyog-1.0.9.zip
	source = genyo-1.0.9.zip::https://github.com/ButTaiwan/genyo-font/releases/download/v2.100/GenKiMin2-ttc.zip
	source = genwan-1.0.9.zip::https://github.com/ButTaiwan/genwan-font/releases/download/v2.100/GenWanMin2-ttc.zip
	source = genseki-1.0.9.zip::https://github.com/ButTaiwan/genseki-font/releases/download/v2.100/GenSekiGothic2-ttc.zip
	source = gensen-1.0.9.zip::https://github.com/ButTaiwan/gensen-font/releases/download/v2.100/GenSenRounded2-ttc.zip
	source = genyog-1.0.9.zip::https://github.com/ButTaiwan/genyog-font/releases/download/v2.100/GenKiGothic2-ttc.zip
	sha256sums = 81e5ee84351102b4143bfaa2ada0f60dcd82c366c7affda293d975a63fc5742a
	sha256sums = b2e987aa451057776fbf914b05a3646433c3b81f5dad01b622fa1c0b84dfdddd
	sha256sums = a1e4a7b1e60b206451336f3c0e224f2936310cdcdb85f54a7642baba7cdd6cdf
	sha256sums = 01f57ff5eac25143c654cfd37ab06d191703fb67aea94811ec48f101a2f6e203
	sha256sums = 0104ba39ff119ed691e10b0da28684226928e1862058fa6096ac87e125fe31f0

pkgname = zh-fonts
