pkgbase = zh-fonts
	pkgdesc = A collection of Chinese (traditional) fonts
	pkgver = 1.0.10
	pkgrel = 1
	url = https://github.com/ButTaiwan
	arch = any
	license = OFL
	noextract = genyo-1.0.10.zip
	noextract = genwan-1.0.10.zip
	noextract = genseki-1.0.10.zip
	noextract = gensen-1.0.10.zip
	noextract = genyog-1.0.10.zip
	source = genyo-1.0.10.zip::https://github.com/ButTaiwan/genyo-font/releases/download/vnull/GenKiMin2-ttc.zip
	source = genwan-1.0.10.zip::https://github.com/ButTaiwan/genwan-font/releases/download/vnull/GenWanMin2-ttc.zip
	source = genseki-1.0.10.zip::https://github.com/ButTaiwan/genseki-font/releases/download/vnull/GenSekiGothic2-ttc.zip
	source = gensen-1.0.10.zip::https://github.com/ButTaiwan/gensen-font/releases/download/vnull/GenSenRounded2-ttc.zip
	source = genyog-1.0.10.zip::https://github.com/ButTaiwan/genyog-font/releases/download/vnull/GenKiGothic2-ttc.zip
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5

pkgname = zh-fonts
