pkgbase = oculante-bin
	pkgdesc = A minimalistic crossplatform image viewer written in rust
	pkgver = 0.8.17
	pkgrel = 1
	url = https://github.com/woelper/oculante
	arch = any
	license = MIT
	checkdepends = nasm
	makedepends = curl
	provides = oculante
	conflicts = oculante
	source = oculante_linux-oculante-bin-0.8.17::https://github.com/woelper/oculante/releases/download/0.8.17/oculante_linux
	sha256sums = 4533c7ef493fa4bdae3d0926d92655977b435219395d4bb383274e326fe002f3

pkgname = oculante-bin
