pkgbase = oculante-bin
	pkgdesc = A minimalistic crossplatform image viewer written in rust
	pkgver = 0.8.22
	pkgrel = 1
	url = https://github.com/woelper/oculante
	arch = any
	license = MIT
	checkdepends = nasm
	makedepends = curl
	provides = oculante
	conflicts = oculante
	source = oculante_linux-oculante-bin-0.8.22::https://github.com/woelper/oculante/releases/download/0.8.22/oculante_linux
	sha256sums = 505cdd786de9e491a94f046c867a932ffa820520f71e099cc48258f92a2624ff

pkgname = oculante-bin
