pkgbase = moar
	pkgdesc = A pager designed to just do the right thing without any configuration.
	pkgver = 1.31.8
	pkgrel = 1
	url = https://github.com/walles/moar
	arch = any
	license = BSD
	checkdepends = highlight
	makedepends = go
	makedepends = gzip
	optdepends = highlight
	provides = moar
	conflicts = moar-git
	source = https://github.com/walles/moar/archive/refs/tags/v1.31.8.tar.gz
	sha256sums = 77943278d1ca22c3ca405c6a227e4807ce8637b807c40802c739f901ae980151

pkgname = moar
