pkgbase = moar
	pkgdesc = A pager designed to just do the right thing without any configuration.
	pkgver = 1.12.0
	pkgrel = 1
	url = https://github.com/walles/moar
	arch = any
	license = BSD
	checkdepends = highlight
	makedepends = go
	makedepends = gzip
	optdepends = highlight
	provides = moar
	conflicts = moar-git
	source = https://github.com/walles/moar/archive/refs/tags/v1.12.0.tar.gz
	sha256sums = 9b5cb4abab746e51c632648b50634a6f4255b709938ca8be240bff49e73bdc0b

pkgname = moar
