pkgbase = moar
	pkgdesc = A pager designed to just do the right thing without any configuration.
	pkgver = 1.11.4
	pkgrel = 1
	url = https://github.com/walles/moar
	arch = any
	license = BSD
	checkdepends = highlight
	makedepends = go
	makedepends = gzip
	optdepends = highlight
	provides = moar
	conflicts = moar-git
	source = https://github.com/walles/moar/archive/refs/tags/v1.11.4.tar.gz
	sha256sums = 4eae12ad5ed1fd8618dc323e42583248f259386a19e89b8effe49671b3af5e72

pkgname = moar
