pkgbase = plex-rich-presence
	pkgdesc = A desktop app to enable discord rich presence for your Plex Media Server Activity
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/Ombrelin/plex-rich-presence
	arch = any
	license = MIT
	makedepends = tar
	makedepends = xz
	depends = dotnet-runtime-6.0
	provides = PlexRichPresence.UI.Avalonia
	source = https://github.com/Ombrelin/plex-rich-presence/releases/download/2.1.0/PlexRichPresence.UI.Avalonia.2.0.10.deb
	sha256sums = 236aa9886224f9777fd20f4a75f98346a1cfa8d1130e54ec29a99d972cf7b9c1

pkgname = plex-rich-presence
