pkgbase = plex-rich-presence
	pkgdesc = A desktop app to enable discord rich presence for your Plex Media Server Activity
	pkgver = 2.0.7
	pkgrel = 1
	url = https://github.com/Ombrelin/plex-rich-presence
	arch = any
	license = MIT
	makedepends = tar
	makedepends = xz
	depends = dotnet-runtime-6.0
	provides = PlexRichPresence.UI.Avalonia
	source = https://github.com/Ombrelin/plex-rich-presence/releases/download/2.0.7/PlexRichPresence.UI.Avalonia.2.0.7.deb
	sha256sums = 3b9d06bb7a883da75c46994b414631090fcf3b7424cdb3d1cdda69d2a6b7bd10

pkgname = plex-rich-presence
